numpy
Pillow
trimesh
rembg
omegaconf
PyYAML>=6.0 # Dependency for omegaconf
diffusers
transformers
huggingface-hub
einops
safetensors
pytorch-lightning # Base system class dependency, might be optional for pure inference
scikit-image # Potential dependency for marching cubes
PyMCubes # Potential dependency for marching cubes
accelerate
